body {
  padding: 50px;
  font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightpink;
}

a {
  color: #00b7fff0;
}
.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}
